div.graph-legend {
font-family:"Lucida Grande",calibri,microsoft sans serif,verdana,sans-serif;
font-size:8pt;
line-height:16pt;
}
div.graph-legend span.chip {
background:#007934 url(../images/graphs/vertical-bars.png) repeat-y scroll left center;
border:1px solid #EEEEEE;
margin-right:2px;
padding:0pt 6px;
}
ul.graph-bar {
border-bottom:1px solid #AAAAAA;
font-family:"Lucida Grande",calibri,microsoft sans serif,verdana,sans-serif;
font-size:8pt;
height:100px;
margin:0pt 0pt 5px;
padding:0pt;
position:relative;
width:180px;
}
ul.graph-bar li {
bottom:0pt;
list-style-type:none;
margin:0pt;
padding:0pt;
position:absolute;
text-align:center;
width:25px;
z-index:2;
}
.offer-from {
background-color:#DDDDDD !important;
}
.avg-1 {
background-color:#0CBDFF !important;
}
.offer-to {
background-color:#FFDD20 !important;
}
ul.graph-bar li.bar {
background:#007934 url(../images/graphs/vertical-bars.png) repeat-y scroll left center;
border-color:#FFFFFF rgb(255, 255, 255) -moz-use-text-color;
border-style:solid solid none;
border-width:1px 1px medium;
left:6px;
width:12px;
}
ul.graph-bar li.bar:hover {
border-color:#D6D5BC;
}
ul.graph-bar li.avg-1 {
left:20px;
width:8px;
}
ul.graph-bar li.bar p {
margin:5px 0pt 0pt;
}
ul.graph-bar li.week {
height:100px;
width:36px;
}
ul.graph-bar li.week-1 {
left:0pt;
}
ul.graph-bar li.week-2 {
left:36px;
}
ul.graph-bar li.week-3 {
left:72px;
}
ul.graph-bar li.week-4 {
left:108px;
}
ul.graph-bar li.week-5 {
left:144px;
}
ul.graph-bar li.week-6 {
left:180px;
}
ul.graph-bar li.ticks {
z-index:1;
}
ul.graph-bar li.ticks div.tick {
border-top:1px solid #E6E6E6;
height:19px;
position:relative;
width:180px;
}
ul.graph-bar li.ticks div.tick p {
left:105%;
margin:0pt;
position:absolute;
top:-0.67em;
}
