<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>


    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName"><value>org.postgresql.Driver</value></property>
        <property name="url"><value>jdbc:postgresql://localhost:5432/clmanager</value></property>
        <property name="username"><value>deuce</value></property>
        <property name="password"><value>deuce</value></property>
        <property name="maxActive"><value>10</value></property>
        <property name="minIdle"><value>5</value></property>
    </bean>

    <bean id="namingStrategy"
          class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="staticField">
            <value>org.hibernate.cfg.ImprovedNamingStrategy.INSTANCE</value>
        </property>
    </bean>

    <bean id="extendedFinderNamingStrategy"
        class="net.deuce.gendao.finder.impl.ExtendedFinderNamingStrategy" />

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="namingStrategy">
            <ref bean="namingStrategy"/>
        </property>
        <property name="mappingResources">
            <list>
                <value>City.hbm.xml</value>
                <value>Category.hbm.xml</value>
                <value>Image.hbm.xml</value>
                <value>MessagePhoto.hbm.xml</value>
                <value>MessagePhotoAssociation.hbm.xml</value>
                <value>MessageTemplate.hbm.xml</value>
                <value>Post.hbm.xml</value>
                <value>CitySubscription.hbm.xml</value>
                <value>CategorySubscription.hbm.xml</value>
                <value>PostActivities.hbm.xml</value>
                <value>Preference.hbm.xml</value>
                <value>UserPreferences.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">validate</prop>
            </props>
        </property>
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
    </bean>

    <!--  Dao Layer generic config-->
    <bean id="finderIntroductionAdvisor" class="net.deuce.gendao.finder.impl.FinderIntroductionAdvisor"/>
    <bean id="abstractDaoTarget"
          class="net.deuce.gendao.impl.GenericDaoHibernateImpl" abstract="true">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
        <property name="namingStrategy">
            <ref bean="extendedFinderNamingStrategy" />
        </property>
    </bean>
    <bean id="abstractDao"
          class="org.springframework.aop.framework.ProxyFactoryBean" abstract="true">
        <property name="interceptorNames">
            <list>
                <value>finderIntroductionAdvisor</value>
            </list>
        </property>
    </bean>

    <!--  Dao Layer instances -->
    <bean id="CityDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>net.deuce.clmanager.domain.dao.CityDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>net.deuce.clmanager.domain.City</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <bean id="CitySubscriptionDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>net.deuce.clmanager.domain.dao.CitySubscriptionDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>net.deuce.clmanager.domain.CitySubscription</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <bean id="CategoryDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>net.deuce.clmanager.domain.dao.CategoryDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>net.deuce.clmanager.domain.Category</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <bean id="CategorySubscriptionDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>net.deuce.clmanager.domain.dao.CategorySubscriptionDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>net.deuce.clmanager.domain.CategorySubscription</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <bean id="PostDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>net.deuce.clmanager.domain.dao.PostDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>net.deuce.clmanager.domain.Post</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <bean id="PostActivitiesDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>net.deuce.clmanager.domain.dao.PostActivitiesDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>net.deuce.clmanager.domain.PostActivities</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <bean id="ImageDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>net.deuce.clmanager.domain.dao.ImageDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>net.deuce.clmanager.domain.Image</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <bean id="MessageTemplateDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>net.deuce.clmanager.domain.dao.MessageTemplateDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>net.deuce.clmanager.domain.MessageTemplate</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <bean id="MessagePhotoDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>net.deuce.clmanager.domain.dao.MessagePhotoDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>net.deuce.clmanager.domain.MessagePhoto</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <bean id="MessagePhotoAssociationDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>net.deuce.clmanager.domain.dao.MessagePhotoAssociationDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>net.deuce.clmanager.domain.MessagePhotoAssociation</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <bean id="PreferenceDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>net.deuce.clmanager.domain.dao.PreferenceDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>net.deuce.clmanager.domain.Preference</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <bean id="UserPreferencesDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>net.deuce.clmanager.domain.dao.UserPreferencesDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>net.deuce.clmanager.domain.UserPreferences</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
</beans>
