.my-border-layout {
}

.postView-body {
  line-height: 150%;
  padding: 20px 40px 20px 10px;
  font-size: 12px;
}

.tk-GlassPanel {
   filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Gray20.png', sizingMethod='scale');
 }
 
 .tk-GlassPanel .Content
   background: url('Gray20.png');
   filter: alpha(opacity=0);
 }