<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>


    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName"><value>com.mysql.jdbc.Driver</value></property>
        <property name="url"><value>jdbc:mysql://localhost/clmanager</value></property>
        <property name="username"><value>deuce</value></property>
        <property name="password"><value>qopklm1</value></property>
        <property name="maxActive"><value>600</value></property>
        <property name="minIdle"><value>5</value></property>
        <property name="maxIdle"><value>5</value></property>
        <property name="initialSize"><value>100</value></property>
        <property name="testOnReturn"><value>true</value></property>
        <property name="validationQuery"><value>select 1</value></property>
        <property name="poolPreparedStatements"><value>true</value></property>
    </bean>

    <!--bean id="dataSource" class="net.unicon.resource.DataSourceBean">
        <property name="poolName"><value>clserver</value></property>
        <property name="driver"><value>com.mysql.jdbc.Driver</value></property>
        <property name="url"><value>jdbc:mysql://localhost/clmanager</value></property>
        <property name="user"><value>deuce</value></property>
        <property name="password"><value>qopklm1</value></property>
        <property name="simpleSql"><value>select 1</value></property>
        <property name="size"><value>100</value></property>
        <property name="logLevel"><value>0</value></property>
        <property name="logMicroTimes"><value>false</value></property>
        <property name="traceCallers"><value>0</value></property>
    </bean-->

    <bean id="worker" class="net.deuce.clmanager.server.Worker">
        <property name="synchronizer"><ref bean="synchronizer"/></property>
        <property name="refreshTime"><value>5000</value></property>
    </bean>

    <bean id="synchronizer" class="net.deuce.clmanager.server.DefaultSynchronizer">
        <property name="cityDao"><ref bean="CityDao"/></property>
        <property name="categoryDao"><ref bean="CategoryDao"/></property>
        <property name="postDao"><ref bean="PostDao"/></property>
        <property name="imageDao"><ref bean="ImageDao"/></property>
        <property name="cityAreaDao"><ref bean="CityAreaDao"/></property>
        <property name="imagePath"><value>/Users/deuce/dev/src/personal/clmanager/data/images</value></property>
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
        <property name="spamDetector"><ref bean="spamDetector"/></property>
        <property name="numConcurrentThreads"><value>25</value></property>
        <property name="threadPoolSize"><value>50000</value></property>
        <property name="citiesUrl"><value>http://geo.craigslist.org/iso/us</value></property>
        <property name="cityUrlPattern"><value>^http:\/\/.*craigslist.org\/$</value></property>
    </bean>

    <bean id="spamDetector" class="net.deuce.clmanager.server.DefaultSpamDetector">
    </bean>

    <bean id="namingStrategy"
          class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="staticField">
            <value>org.hibernate.cfg.ImprovedNamingStrategy.INSTANCE</value>
        </property>
    </bean>

    <bean id="extendedFinderNamingStrategy"
        class="net.deuce.gendao.finder.impl.ExtendedFinderNamingStrategy" />

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="namingStrategy">
            <ref bean="namingStrategy"/>
        </property>
        <property name="mappingResources">
            <list>
                <value>City.hbm.xml</value>
                <value>CityArea.hbm.xml</value>
                <value>Category.hbm.xml</value>
                <value>Image.hbm.xml</value>
                <value>MessageTemplate.hbm.xml</value>
                <value>Post.hbm.xml</value>
                <value>CitySubscription.hbm.xml</value>
                <value>CategorySubscription.hbm.xml</value>
                <value>PostActivities.hbm.xml</value>
                <value>Preference.hbm.xml</value>
                <value>SavedFile.hbm.xml</value>
                <value>UserPreferences.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.hbm2ddl.auto">validate</prop>
            </props>
        </property>
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
    </bean>

    <!--  Dao Layer generic config-->
    <bean id="finderIntroductionAdvisor" class="net.deuce.gendao.finder.impl.FinderIntroductionAdvisor"/>
    <bean id="abstractDaoTarget"
          class="net.deuce.gendao.impl.GenericDaoHibernateImpl" abstract="true">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
        <property name="namingStrategy">
            <ref bean="extendedFinderNamingStrategy" />
        </property>
    </bean>
    <bean id="abstractDao"
          class="org.springframework.aop.framework.ProxyFactoryBean" abstract="true">
        <property name="interceptorNames">
            <list>
                <value>finderIntroductionAdvisor</value>
            </list>
        </property>
    </bean>

    <!--  Dao Layer instances -->
    <bean id="CityDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>net.deuce.clmanager.domain.dao.CityDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>net.deuce.clmanager.domain.City</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <bean id="CategoryDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>net.deuce.clmanager.domain.dao.CategoryDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>net.deuce.clmanager.domain.Category</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <bean id="PostDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>net.deuce.clmanager.domain.dao.PostDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>net.deuce.clmanager.domain.Post</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <bean id="ImageDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>net.deuce.clmanager.domain.dao.ImageDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>net.deuce.clmanager.domain.Image</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <bean id="CityAreaDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>net.deuce.clmanager.domain.dao.CityAreaDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>net.deuce.clmanager.domain.CityArea</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
</beans>
