<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="hibernate">
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.password">deuce</property>
  <property name="hibernate.connection.url">jdbc:postgresql://localhost/clmanager_test</property>
  <property name="hibernate.connection.username">deuce</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <mapping resource="City.hbm.xml"/>
  <mapping resource="CitySubscription.hbm.xml"/>
  <mapping resource="Category.hbm.xml"/>
  <mapping resource="CategorySubscription.hbm.xml"/>
  <mapping resource="Post.hbm.xml"/>
  <mapping resource="PostActivities.hbm.xml"/>
  <mapping resource="Image.hbm.xml"/>
  <mapping resource="MessageTemplate.hbm.xml"/>
  <mapping resource="MessagePhoto.hbm.xml"/>
  <mapping resource="Preference.hbm.xml"/>
  <mapping resource="UserPreferences.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
